{{# each products }}


<div class="card" style="width: 18rem;">
    <img src={{this.imagePath}}
        class="card-img-top test-image image-responsive" alt="dog">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <div class="clearfix">
        <div class="price pull-left">$12</div>
        <a href="#" class="btn btn-success pull-right" role="button">Button</a>
    </div>
</div>

{{/each}}